{% load static %}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static "viewer/card_grid.css" %}">
</head>
<body>
{% if card_list %}
    <div class="cardgrid">
    {% for card in card_list %}
        <div class="card">
            {% block cardimage %}{% if card.image %}<img src="{{ card.image.url }}"/>{% endif %}{% endblock %}
            <div>{{ card.name }}</div>
        </div>
    {% endfor %}
    </div>
{% else %}
    <div>No cards available.</div>
{% endif %}
</body>
</html>
