<html>
<head>
    <style>
        .cardimage {
            float:left;
        }

        .expandedinformation {
            display: inline-block;
        }

        .bold {
            font-weight:bold;
        }
    </style>
</head>
<body>
{% if card_list %}
    <div class="cardgrid">
    {% for card in card_list %}
        <div class="card">
            <div class="cardimage">
            {% if card.image %}<img src="{{ card.image.url }}"/>{% endif %}
            </div>
            <div class="expandedinformation">
            {% block expandedinformation %}
            {% endblock %}
            </div>
        </div>
    {% endfor %}
    </div>
{% else %}
    <div>No cards available.</div>
{% endif %}
</body>
</html>
