{% extends 'expanded_viewer.html' %}

{% block expandedinformation %}
<div><span class="bold">Name:</span> {{ card.name }}</div>
<div><span class="bold">Unique:</span> {{ card.unique }}</div>
<div><span class="bold">Ship:</span> <a href="{% url 'pilots-by-ship' ship=card.ship.url_name %}">{{ card.ship.name }}</a></div>
<div><span class="bold">Skill:</span> {% if card.skill_special_ruling %}*{% else %}{{ card.skill }}{% endif %}</div>
<div><span class="bold">Points:</span> {% if card.points_special_ruling %}*{% else %}{{ card.points }}{% endif %}</div>
<div><span class="bold">Slots:</span> {% for slot in card.slots.all %}{{ slot.slot }}{% if not forloop.last %}, {% endif %}{% endfor %}</div>
<div><span class="bold">Actions:</span> {% for action in card.ship.actions.all %}{{ action.action }}{% if not forloop.last %}, {% endif %}{% endfor %}</div>
<div><span class="bold">Text:</span> {{ card.text }}</div>
<div><span class="bold">Faction:</span> {{ card.faction.faction }}</div>
<div><span class="bold">XWS:</span> {{ card.xws }}</div>
{% endblock %}
