{% load static %}
<html>
<head>
<link rel="stylesheet" type="text/css" href="{% static "viewer/expanded_details.css" %}">
<link href="https://fonts.googleapis.com/css?family=Russo+One" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
</head>
<body>
{% if source_list %}
<div class="category">Source{%if source_list|length > 1 %}s{% endif %}</div>
<div class="cardgrid">
{% for source in source_list %}
  {% include "expanded_source.html" %}
{% endfor %}
</div>
{% endif %}
{% if pilot_list %}
<div class="bold">Pilot{%if pilot_list|length > 1 %}s{% endif %}</div>
<div class="cardgrid">
{% for pilot in pilot_list %}
  {% include "expanded_pilot.html" %}
{% endfor %}
</div>
{% endif %}
{% if upgrade_list %}
<div class="category">Upgrade{%if upgrade_list|length > 1 %}s{% endif %}</div>
<div class="cardgrid">
{% for upgrade in upgrade_list %}
  {% include "expanded_upgrade.html" %}
{% endfor %}
</div>
{% endif %}
{% if condition_list %}
<div class="category">Condition{%if condition_list|length > 1 %}s{% endif %}</div>
<div class="cardgrid">
{% for condition in condition_list %}
  {% include "expanded_condition.html" %}
{% endfor %}
</div>
{% endif %}
</body>
</html>
