{% extends 'expanded_viewer.html' %}

{% block expandedinformation %}
<div><span class="bold">Name:</span> <a href="{% url 'pilots-by-name' name=card.url_name %}">{{ card.name }}</a></div>
<div><span class="bold">Unique:</span> {{ card.unique }}</div>
<div><span class="bold">Ship:</span> <a href="{% url 'pilots-by-ship' ship=card.ship.url_name %}">{{ card.ship.name }}</a></div>
<div><span class="bold">Faction:</span> <a href="{% url 'pilots-by-faction' faction=card.faction.url_name %}">{{ card.faction.name }}</a> (<a href="{% url 'pilots-by-primary-faction' primary_faction=card.faction.primary_faction.url_name %}">{{ card.faction.primary_faction.name }}</a>)</div>
<div><span class="bold">Skill:</span> {% if card.skill_special_ruling %}*{% else %}{{ card.skill }}{% endif %}</div>
<div><span class="bold">Points:</span> {% if card.points_special_ruling %}-{% else %}{{ card.points }}{% endif %}</div>
{% if card.ship.epic_points %}<div><span class="bold">Epic points:</span> {{ card.ship.epic_points }}</div>{% endif %}
{% if card.ship.attack or card.attack_override %}<div><span class="bold">Attack:</span> {% if card.attack_override %}{{ card.attack_override }}{% else %}{{ card.ship.attack }}{% endif %}</div>{% endif %}
{% if card.range != "" %}<div><span class="bold">Range:</span> {{ card.range }} </div>{% endif %}
{% if card.ship.energy %}<div><span class="bold">Energy:</span> {{ card.ship.energy }} </div>{% endif %}
<div><span class="bold">Agility:</span> {% if card.agility_override %}{{ card.agility_override }}{% else %}{{ card.ship.agility }}{% endif %}</div>
<div><span class="bold">Hull:</span> {% if card.hull_override %}{{ card.hull_override }}{% else %}{{ card.ship.hull }}{% endif %}</div>
<div><span class="bold">Shields:</span> {% if card.shields_override %}{{ card.shields_override }}{% else %}{{ card.ship.shields }}{% endif %}</div>
<div><span class="bold">Slots:</span> {% for slot in card.pilotslot_set.all %}{{ slot.slot }}{% if slot.quantity > 1 %} (x{{ slot.quantity }}){%endif%}{% if not forloop.last %}, {% endif %}{% endfor %}</div>
<div><span class="bold">Actions:</span> {% for action in card.ship.actions.all %}{{ action.action }}{% if not forloop.last %}, {% endif %}{% endfor %}</div>
{% if card.conditions.all %}<div><span class="bold">Conditions:</span> {% for condition in card.conditions.all %}{{ condition.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</div>{% endif %}
{% if card.text %}<div><span class="bold">Text:</span> {{ card.text }}</div>{% endif %}
<div><span class="bold">XWS:</span> {{ card.xws }}</div>
<div><span class="bold">Id:</span> {{ card.id }}</div>
{% endblock %}
