.category {
    font-weight:bold;
}

.cardgrid {
    overflow: hidden;
}

.cardimage {
    float:left;
    padding-bottom: 4px;
}

.expandedinformation {
    overflow: hidden;
    padding-left: 4px;
}

.card {
    clear:left;
}

.card-image-full {
    height:418px;
    width:300px;
}

.card-image-half {
    height:300px;
    width:194px;
}
