{% load static %}
<!DOCTYPE html>
<html>
    <head>
        {% block title %}
        <title>Hit Hit Crit</title>
        {% endblock %}
        {% block header %}
        {% endblock %}
        <link rel="stylesheet" type="text/css" href="{% static "home/home.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "home/nav_bar.css" %}">
        <link href="https://fonts.googleapis.com/css?family=Russo+One" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    </head>
    <body>
        <div>
            <ul class="nav_bar">
                <li><a class="logo" href="/home/"><img class="logo" src="{% static "home/Logo.png" %}"></a></li>
                <li><a href="/squad_builder/">New Squad</a></li>
                <li><a href="/squad_builder/">Your Squads</a></li>
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropdown-button">Cards</a>
                    <div class="dropdown-content">
                        <a href="/viewer/pilots/">Pilots</a>
                        <a href="/viewer/upgrades/">Upgrades</a>
                    </div>
                </li>
                <li><a href="/viewer/pilots/">Ships</a></li>
                <li><a href="/viewer/pilots/">Sets</a></li>
                <li><a href="/viewer/pilots/">Log In</a></li>
                <li style="float:right"><a href="/viewer/pilots/">Search</a></li>
            </ul>
        </div>

        <div class="wrapper"> <!-- Necessary to keep nav bar + footer in the right place --> 
            <div class="content">
                {% block content %}
                Invalid Page...
                {% endblock %}
            </div>
        </div>

        <div class="footer">
            X-Wing: The Miniatures Game is a trademark of Fantasy Flight Games, with whom this site is not endorsed. See <a href="/about/">about</a> for more.
        </div>
    </body>
</html>
