/* Default fonts etc. */
html, body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    height: 100%;
}

.bold {
    font-family: 'Russo One', sans-serif;
}

/* Nav Bar stuff */
ul.nav_bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #D30100;
    position: fixed;
    top: 0;
    width: 100%;
    height: 35px;
}

.nav_bar li {
    float:left;
    border-right: 1px solid #000000;
    font-weight: bold;
}

img.logo {
    height: 35px;
    width: 35px;
}

.nav_bar li a.logo {
    padding: 0px;
    border: 0px;
}

.nav_bar li a.logo:hover {
    opacity: 0.8;
}

.nav_bar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
}

.nav_bar li a:hover {
    background-color: #B50100;
}

/* Main content */
div.wrapper {
    min-height: 100%;
}

div.content {
    padding: 10px;
    padding-top: 55px;
    padding-bottom: 35px;
}

/* Footer stuff */
div.footer {
    color: white;
    background-color: black;
    text-align: left;
    overflow: hidden;
    width: 100%;
    height: 20px;
    margin-top: -20px; /* must equal height */
}
